h1 {
    font-size: 50px;
    text-align:center;
    color:blueviolet;
} 
body {
    background-image:linear-gradient(grey,pink); 
}
img{
    border: 2px solid green;
}
.row {display: flex;}
.col {flex: 1;}
.col-3 {flex: 3;} 

.shadow {
    text-shadow: 4px 4px green;
    }
